<%- include("./includes/head", { pageTitle: "An Error" }) %>
</head>
<body>
    <%- include("./includes/header") %>
    <main>
        <h1>You are not Authorized!</h1>
        <p><a href="/" class="btn">Back to safety!</a></p>
    </main>

<%- include("./includes/footer") %>