<%- include('../../shared/includes/head', { pageTitle: 'Order Failed' }) %>
</head>
<body>
  <%- include('../../shared/includes/header') %>
  <main>
    <h1>Your Order Failed</h1>
    <p>Order failed by any technical issue - Contant shop owner for more details!</p>
  </main>
<%- include('../../shared/includes/footer') %>
