<%- include('../../shared/includes/head', { pageTitle: 'Order Placed' }) %>
</head>
<body>
  <%- include('../../shared/includes/header') %>
  <main>
    <h1>Your Order Placed Successfully!</h1>
    <p>Thanks for visiting - Have a Good Day!</p>
    <p>Wants more shopping <a href="/" class="btn btn-alt">Click Me</a></p>
  </main>
<%- include('../../shared/includes/footer') %>
