<header id="main-header">
    <div><a href="/" id="logo">Quick-Shop</a></div>

    <nav>
        <%- include("./nav-items") %>
    </nav>
    <button id="mobile-menu-btn">
        <span></span>
        <span></span>
        <span></span>
    </button>
</header>
<aside id="mobile-menu">
    <nav>
        <%- include("./nav-items") %>
    </nav>
</aside>