<%- include("../../shared/includes/head", { pageTitle: "Admin Products" }) %>
</head>
<body>
    <%- include("../../shared/includes/header") %>
    <main>
        <h1>All Products (Admin)</h1>
        <section>
            <h2>Manage Product</h2>
            <p>
                <a href="/admin/products/new" class="btn">Add Product</a>
            </p>
        </section>
        <section>
            <p>List of all products</p>
        </section>
        
    </main>

<%- include("../../shared/includes/footer") %>