<%- include("../../shared/includes/head", { pageTitle: "Add Product" }) %>
<link rel="stylesheet" href="/styles/forms.css">
</head>
<body>
    <%- include("../../shared/includes/header") %>
    <main>
        <h1>Add New Product</h1>
        <%- include("../includes/product-form", { submitPath: 'admit/products', product: {
            title: '',
            price: '',
            summary: '',
            description: ''
        } }) %>
    </main>

<%- include("../../shared/includes/footer") %>